.vercel
.venv
.env

# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Vercel
.vercel

# Railway
.railway

# Heroku
.heroku

# Gatewayz
.gatewayz

# Supabase
.supabase

# FastAPI
.fastapi

# md files
*.md
!docs/**/*.md

# sql files
*.sql

# bat files




nul
uvicorn.log
server.log
temp.json
.gitignore
temp2.json
response.json
portkey_models.json
