.vercel
.venv
.env

# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Vercel
.vercel

# Railway
.railway

# Heroku
.heroku

# Gatewayz
.gatewayz

# Supabase
.supabase

# FastAPI
.fastapi

# md files
*.md
!docs/**/*.md


# bat files




server.log
nul
